# Python cache
__pycache__/
*.pyc

# Virtual environments
.venv/
venv/
env/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Python packaging
*.egg-info/
dist/
build/

# Logs & cache
*.log
.cache/
.pytest_cache/

# IDE specific
.vscode/
.idea/

# Datasets
data/raw/*
data/processed/*

# Model outputs
src/models/model_registry/*

# Credentials / env files
.env
.envrc

# Cursor
.cursorignore
.cursorindexingignore
